body {
  background-color: E5E5E5;
  font-family: "Montserrat", sans-serif;
  color: #49585B;
}
.main-page {
  background-color: rgba(231, 241, 242, 0.3);
}
nav {
  font-size: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
nav ul {
  flex: 1;
}
nav ul li {
  display: inline-block;
  margin: 10px 20px;
}
nav span {
  justify-content: flex-start;
  margin: 10px 20px;
}
nav span::before {
  content: url(./img/icon/phone.svg);
  margin-right: 5px;
  vertical-align: middle;
}
.home {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.home-content {
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-content h2 {
  font-size: 24px;
  font-weight: 427;
}
.home-content h2::before {
  content: url(./img/icon/line.svg);
  margin-right: 5px;
  vertical-align: middle;
}
.home-content h1 {
  font-family: "Fira Code", monospace;
  font-size: 140px;
  font-style: bold;
}
.home-content p {
  width: 600px;
  font-size: 30px;
  font-weight: 400;
}
.home-content button {
  width: 330px;
  height: 70px;
  color: #538968;
  font-size: 24px;
  border: 2px;
  background-color: transparent;
  border: 3px solid #538968;
}
#down-btn {
  background-color: transparent;
  border: none;
}
.home-img {
  background-color: #C6DEE0;
}